body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ******** navbar ********* */
.navbar{
  box-shadow: 5px 5px 10px 2px rgba(161, 158, 158, 0.301);
}

.nav-item:hover{
  opacity: 50%;
}

/* ******** Banner ********* */
.bannerLogo img{
  height: 150px;
  justify-content: center;
}

.bannerLogo {
  background-color: rgba(233, 225, 195, 0.4);
}

/* ******** HomePage ********* */

.homepageIcon{
  height:200px;
}

.homepage-image-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.homepage-category {
  width: 25%;
  max-width: 350px;
}
.homepage-category img{
  height: 300px;
  width: 300px;
}

.homepage-category:hover{
  opacity: 50%;
}

.home.container{
  padding-bottom: 100px;
}
/* ******** Meal show Page ********* */
.showpage img {
  height: 750px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.showpage {
  padding-top: 75px;
  padding-bottom: 75px;
font-size: larger;
}

.descriptionPrice {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: rgba(107, 203, 166, 0.226);
}

.splitInfo{
  padding-top: 40px;
  padding-bottom: 20px;
}

/* ******** Menu Page ********* */

.filter {
  padding-top: 80px;
  height: 450px;
  border-style: solid;
  background-color: rgba(107, 203, 166, 0.358);
}

.filterDiv label{
  font-size: 20px;
}

.mealCardContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.mealcard {
  height: 350px;
  padding-top: 25px;
}

.menuCardImage {
  height: 200px;
  width: 200px;
}

/* ******** About Page ********* */
.founderimg {
  height: 250px;
}

/* ******** Cart Page ********* */

.cartContainer h2{
  padding-top: 50px;
  text-align: center;
}

.cartContainer{
  padding-bottom: 50px;
}

.orderCards img{
  height: 300px;
  width: 300px;
}

.orderCards li {
  list-style-type: none;
}

/* ******** previous purchases Page ********* */

.prevOrderCard img{
  height: 100xpx;
  width: 100px;
}

.prevOrderCard{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

}

.previous-purchase{
  font-size: larger;
  padding-top: 50px;
}

.prevpurch {
  padding-top: 50px;
}